rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedInOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/{document=**} {
      allow read, create, update, delete: if isSignedInOwner(userId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
